
nav {

    padding: 14px;
    background-color:#22aacc;
}
nav a:link{
    color: #FFF;
}
nav a:visited{
    color: #FFF;
}

.naves {
    text-align: center;
    background-color:#22aacc;
}



body {
	text-align: center;
}

.form {
    padding:4px;
    background-color:#f6f6f3;



}


* {
	box-sizing: border-box;
	transition: .25s all ease;
    list-style-type:none;

}


footer {
    text-align: center;
}

