{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'votacao/mvp.css' %}" />


<h1>{{ questao.questao_texto }}</h1>
<small>Submeter como {{ user.username }}</small>
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}
<form action="{% url 'votacao:voto' questao.id %}" method="post">
{% csrf_token %}
{% if tem_opcoes is False %}
    <p>Não há opções cadastradas</p>
{% elif votos >= 14 %}
    <p> Você usou todos os seus votos disponiveis!!</p>
{% else %}
    {% for opcao in opcoes %}
        <input type="radio" name="opcao" id="opcao{{ forloop.counter }}" value="{{ opcao.id }}" />
        <label for="opcao{{ forloop.counter }}">
        {{ opcao.opcao_texto }}
        </label>
        <br>
    {% endfor %}
    <input type="submit" value="Voto" />
{% endif %}

</form>
{% if user.is_staff %}
    <a href="{% url 'votacao:criar_opcao' questao_id=questao.id %}"> Criar Nova Opção</a>
    {% if tem_opcoes%}
        <br>
        <a href="{% url 'votacao:eliminar_opcao' questao_id=questao.id %}"> Remover Opção</a>
    {% endif %}
    <br>
{% endif %}
<br>
<a href="../votacao/questoes/"> Voltar para menu</a>