<h1>{{ questao.questao_texto }}</h1>
<h1>{{ user.username }}</h1>
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}
<form action="{% url 'votacao:voto' questao.id %}" method="post">
{% csrf_token %}
{% for opcao in questao.opcao_set.all %}
<input type="radio" name="opcao" id="opcao{{ forloop.counter }}" value="{{ opcao.id }}" />
<label for="opcao{{ forloop.counter }}">
{{ opcao.opcao_texto }}
</label>
<br />
{% endfor %}
<input type="submit" value="Voto" />
</form>
<a href="{% url 'votacao:criar_opcao' questao_id=questao.id %}"> Criar Nova Opção</a>
<br>
<a href="../votacao/questoes/"> Voltar</a>