{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'votacao/style.css' %}" />

<h1>{{ user.username }}</h1>
{% if latest_question_list %}
<ul>
    {% for questao in latest_question_list %}
    <li>
        <a href="{% url 'votacao:detalhe' questao.id %}">
            {{ questao.questao_texto }}
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Nao ha questoes disponiveis.</p>
{% endif %}

{% if user.is_staff %}
    <a href="{% url 'votacao:nova_questao' %}"> Criar nova questão </a>
    <br>
{% endif %}

<a href="{% url 'votacao:logout' %}">Logout</a>
<br>
<a href="{% url 'votacao:perfil' %}">Perfil</a>