{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'votacao/mvp.css' %}" />

<h1>{{ questao.questao_texto }}</h1>
<ul>
{% for opcao, resultado in opcoes_resultados.items %}
 <li>{{ opcao.opcao_texto }} -- {{ resultado }} voto{{ resultado|pluralize }}</li>
{% endfor %}
</ul>
{% if votos < 14 %}
 <a href="{% url 'votacao:detalhe' questao.id %}">Votar novamente?</a> <br>
{% else %}
 <p> Você usou todos os seus votos disponiveis!!</p>
{% endif %}
<a href="../votacao/questoes/"> Voltar para menu</a>