
{% load static %}

<html lang="pt">
<head>
  <title>Page Title</title>
</head>
<link rel="stylesheet" type="text/css" href='{% static "css/reset.css" %}' >
<link rel="stylesheet" type="text/css" href='{% static "css/style_index.css" %}' />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<title>Index</title>
<style>
  html {
    background-color: var(--background-color);
  }
</style>
<body>
  <header>
      <div>
        logo
      </div>
      <div>
        barra de pesquisa
      </div>
  </header>
  <nav>
    <img src="" alt="">
    <ul>
      <li><a href="adawd">Home</a></li>
      <li><a href="awdawd">News</a></li>
      <li><a href="awdawd">Contact</a></li>
      <li><a href="aawdawdp">About</a></li>
    </ul>

  </nav>
<main style="padding: 10px">
  {% block content %} {% endblock %}
</main>

<footer></footer>
</body>