{% load static %}

<html lang="pt">
<head>
  <title>PCK</title>
</head>
<link rel="stylesheet" type="text/css" href='{% static "css/reset.css" %}' >
<link rel="stylesheet" type="text/css" href='{% static "css/style_base.css" %}' />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<script>
  // redirect if user is bannedF
  $(document).ready(function() {
    $.ajax({
      url: "{% url 'main:is_banned' %}",
      type: "GET",
      success: function(response) {
        if (response.is_banned) {
          window.location.href = "{% url 'main:logout' %}";
        }
      }
    });
  });
</script>
<title>Index</title>
{% if request.path == "/t/Música/" or request.path == "/new_thread/Música" or topico_name == "Música" %}
    <body class="fooorm1">
        <header class="base fooorm1">
{% elif request.path == "/t/Filmes/" or request.path == "/new_thread/Filmes" or topico_name == "Filmes" %}
    <body class="fooorm2">
        <header class="base fooorm2">
{% elif request.path == "/t/Jogos/" or request.path == "/new_thread/Jogos" or topico_name == "Jogos" %}
    <body class="fooorm3">
        <header class="base fooorm3">
{% elif request.path == "/t/Livros/" or request.path == "/new_thread/Livros" or topico_name == "Livros" %}
    <body class="fooorm4">
        <header class="base fooorm4">
{% elif request.path == "/t/Teatro/" or request.path == "/new_thread/Teatro" or topico_name == "Teatro" %}
    <body class="fooorm5">
        <header class="base fooorm5">
{% elif request.path == "/t/Dança/" or request.path == "/new_thread/Dança" or topico_name == "Dança" %}
    <body class="fooorm6">
        <header class="base fooorm6">
{% elif request.path == "/t/Escultura/" or request.path == "/new_thread/Escultura" or topico_name == "Escultura" %}
    <body class="fooorm7">
        <header class="base fooorm7">
{% elif request.path == "/t/Pintura/" or request.path == "/new_thread/Pintura" or topico_name == "Pintura" %}
    <body class="fooorm8">
        <header class="base fooorm8">
{% elif request.path == "/t/Fotografia/" or request.path == "/new_thread/Fotografia" or topico_name == "Fotografia" %}
    <body class="fooorm9">
        <header class="base fooorm9">
{% elif request.path == "/t/Meta/" or request.path == "/new_thread/Meta" or topico_name == "Meta" %}
    <body class="fooorm10">
        <header class="base fooorm10">
{% elif request.path == "/perfil/" %}
    <body class="fooorm11">
        <header class="base fooorm11">
{% else %}
  <body class="fooorm">
    <header class="base fooorm">
{% endif %}
    <div style="display:flex;place-content: space-between;">
      <div>
        <a href="{% url 'main:index' %}"><img src="{% static 'img/logo.png' %}"></a>
      </div>
      <div style="align-self: center; padding-top:20px">
        <form method="get" action="">
            <input type="search" id="search-input">
            <button type="submit" id="search-button">Search</button>
        </form>

        <script>
            document.getElementById('search-button').addEventListener('click', function(event) {
                event.preventDefault();
                var searchValue = document.getElementById('search-input').value;
                var searchLink = '/search/?q=' + encodeURIComponent(searchValue);
                window.location.href = searchLink;
            });
        </script>
      </div>
    </div>
  </header>
  <nav class="base-nav">
    <ul>
      {% if user.is_authenticated %}
        <li style="text-align: end; padding: 14px 16px;">Welcome, <a href="/perfil/" class="adaw" style="text-decoration: none;">{{ user.username }} </a></li>
        <li style="float:right"><a href="{% url 'main:logout' %}">Logout</a></li>
        {% if user.is_admin or user.is_mod %}
          <li style="float:right"><a href="{% url 'main:admin' %}">Admin Panel</a></li>
        {% endif %}
      {% else %}
        <li style="float:right"><a href="{% url 'main:login' %}">Login</a></li>
        <li style="float:right"><a href="{% url 'main:register' %}">Register</a></li>
      {% endif %}
    </ul>

  </nav>
<main style="padding: 10px;">
  {% block content %} {% endblock %}
</main>
  <!--
  <footer class="footer-distributed">

			<div class="footer-left">

				<h3><img src=""></h3>

				<p class="footer-links">
					<a href="#" class="link-1">Home</a>

					<a href="#">News</a>

					<a href="#">Contact</a>

					<a href="#">About</a>
				</p>
				<p class="footer-company-name">WIP © 2015</p>
			</div>

			<div class="footer-center">

				<div style="display: flex;">
					<img src="../static/img/loc.png" alt="Trulli" style="width:7%">
					<p><span>Avenida das Forças Armadas 1649-026 Lisboa</span></p>
				</div>

				<div style="display: flex;">
					<img src="../static/img/tel.png" alt="Trulli" style="width:7%">
					<p>+351 217 903 000</p>
				</div>

				<div style="display: flex;">
					<img src="../static/img/email.png" alt="Trulli" style="width:7%">
					<p><a href="mailto:geral@iscte.pt">geral@iscte.pt</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>Forum dedicado a Cultura</span>
					O WIP é um ponto de encontro para apaixonados por música, cinema, literatura e artes, promovendo discussões e descobertas na esfera da cultura.
				</p>

				<div class="footer-icons">

					<a href="#" ><img src="../static/img/log_insta.png"></a>
					<a href="#"><img src="../static/img/log_x.png" alt="Trulli" style="width:100%"></a>
					<a href="#"><img src="../static/img/log_linke.png" alt="Trulli" style="width:100%"></a>
					<a href="#"><img src="../static/img/log_githu.png" alt="Trulli" style="width:100%"></a>

				</div>

			</div>

		</footer>
	-->
</body>