{% extends 'base.html' %}

{% block content %}
<div class="listagem">
  <h1>WIP</h1>
  <ol>
    <li class="itens-header" style="display:flex; justify-content: space-between;">
      <div class="batata" style="display:flex;">
      <div class="empty"></div>
      <div class="content">Tópico</div>
      </div>
      <div class="batata" style="display:flex;">
      <div class="stats" style="padding: 0px 10px 0px 0px;">nº de Threads</div>
      <div class="last" style="padding: 0px 0px 0px 10px;">Última Thread</div>
      </div>
    </li>
    {% for topico in topicos %}
      <script>
        $(document).ready(() => {
          $("#favorite-{{ topico.name }}").on("click", () => {
            $.ajax({
              url: "{% url 'main:favorite' topico.name %}",
              type: "POST",
              data: {
                csrfmiddlewaretoken: "{{ csrf_token }}",
              },
              success: (response) => {
                if(response.added) {
                  $("#favorite-{{ topico.name }}").css("font-variation-settings", "'FILL' 1")
                } else {
                  $("#favorite-{{ topico.name }}").css("font-variation-settings", "'FILL' 0")
                }
              },
              error: (response) => {
                if (response.status == 302 || response.status == 401) {
                  window.location.href = "{% url 'main:login' %}"
                } else {
                  console.log("error")
                  console.log(response)
                  console.log(response.status)
                }
              }
            })
          })
        })
      </script>
      <li class="itens">
        <style>
          #favorite-{{ topico.name }}:hover {
            cursor: pointer;
          }
        </style>
        <div class="icon"><span id="favorite-{{ topico.name }}"
         class="material-symbols-outlined" style="font-variation-settings: 'FILL' {{ topico.is_fav }}">favorite</span></div>
        <div class="content">
          <h3> <a class="" style="text-decoration: none" href="{% url 'main:topico' topico.name %}">{{ topico.name }}</a></h3>
        </div>
        <div class="stats">{{ topico.thread_count }}</div>
        {% if topico.latest_thread %}
          <div class="last">{{ topico.latest_thread.date_created|date:"d/m/Y" }}</div> <!-- TODO por link pra ela -->
        {% else %}
          <div class="last"></div>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</div>
{% endblock %}

