{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href='{% static "css/style_login.css" %}' />

{% block login %}
<body class="fooorm">
    <div class="form">
        <form action="{% url 'main:login' %}" class="login-form acrylic" method="POST">
            {% csrf_token %}
            <span>Login to your account</span>
            <input id="username" type="text" placeholder="Username" name="username"/>
            <input id="password" type="password" placeholder="Password" name="password"/>
            <button type="submit">Login</button>
            <p class="message"><a href="{% url 'main:register' %}">Create Account</a></p>
        </form>
    </div>
</body>
{% endblock %}
