{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href='{% static "css/style_perfil.css" %}' />
{% block content %}
<div class="fooorm11">
    <div class="user-info">
      <img src="/media/{{ image }}" onerror="this.onerror=null; this.src='{% static 'img/default_avatar.webp' %}'" alt="Profile Picture" id="avar">
        <span class="post-button alter-button-img material-symbols-outlined" style="color:white;">edit</span>
        <div class="user-details">
            <h2 id="avar-name">{{ request.user}} <span class="post-button alter-button-name material-symbols-outlined">edit</span></h2>
            <p id="avar_bio">{{ bios }}
              <span class="post-button alter-button-bio material-symbols-outlined">edit</span></p>
            <p id="avar_signature" aria-placeholder="Coloque sua assunatura"> {{ signature }}
              <span class="post-button alter-button-signa material-symbols-outlined">edit</span></p>
            <button class="alter-button-pass">Mudar senha</button>
        </div>

    </div>
    <script>
   $(document).ready(() => {
  $(".alter-button-img").on("click", (e) => {
    e.preventDefault();
    $('#button-img').modal({modalClass: "modal2",showClose: false});
  });
});
   $(document).ready(() => {
  $(".alter-button-name").on("click", (e) => {
    e.preventDefault();
        $('#button-name').modal({modalClass: "modal2",showClose: false});
  });
});
  $(document).ready(() => {
  $(".alter-button-bio").on("click", (e) => {
    e.preventDefault();
    $('#button-bio').modal({modalClass: "modal2",showClose: false});
  });
});
 $(document).ready(() => {
  $(".alter-button-pass").on("click", (e) => {
    e.preventDefault();
    $('#button-pass').modal({modalClass: "modal2",showClose: false});
  });
});
 $(document).ready(() => {
  $(".alter-button-signa").on("click", (e) => {
    e.preventDefault();
    $('#button-signa').modal({modalClass: "modal2",showClose: false});
  });
});

  </script>


    <section class="user-stats">
        <div class="stat">
            <h2>Thread</h2>
            <p>{{ n_tre }}</p>
        </div>
        <div class="stat">
            <h2>Post</h2>
            <p>{{ n_p }}</p>
        </div>
        <div class="stat">
            <h2>Tópico principal</h2>
            <p>{{ topico_principal }}
        </div>
    </section>


    <div id="button-pass" class="modal2" style="display:none;">
        <div class="form" id="pass">
             <form class="login-form acrylic11" id="alter-button-pass" enctype="multipart/form-data" method="POST" action="{% url 'main:perfil' %}">
              {% csrf_token %}
                 <span>Alterar senha</span>
              <input type="password" placeholder="Nova senha 1" name="password1" required>
                 <input type="password" placeholder="mesma senha 1" name="password2" required>
              <button type="submit">Enviar</button>
            </form>
            <p class="message"><a href="{% url 'main:perfil' %}"><button>Cancelar</button></a></p>
        </div>
    </div>
    <div id="button-bio" class="modal2" style="display:none;">
        <div class="form" >
            <form id="alter-button-bio" class="login-form acrylic11" enctype="multipart/form-data" method="POST" action="{% url 'main:perfil' %}">
              {% csrf_token %}
                <span>Alterar a bio</span>
              <input type="text" placeholder="escreva sua bio aqui" name="bio" required>
              <button type="submit">Enviar</button>
            </form>
            <p class="message"><a href="{% url 'main:perfil' %}"><button>Cancelar</button></a></p>
        </div>
    </div>
    <div id="button-name" class="modal2" style="display:none;">
       <div class="form" id="namess" >
            <form id="alter-button-name" class="login-form acrylic11" enctype="multipart/form-data" method="POST" action="{% url 'main:perfil' %}">
              {% csrf_token %}
                <span>Alterar o nome</span>
              <input type="text" name="username" required>
              <button type="submit">Enviar</button>
            </form>
           <p class="message"><a href="{% url 'main:perfil' %}">Cancelar</a></p>
       </div>
    </div>
    <div id="button-img" class="modal2" style="display:none;">
       <div class="form" id="img" >
            <form id="image-upload-form" class="login-form acrylic11" enctype="multipart/form-data" method="POST" action="{% url 'main:perfil' %}">
              {% csrf_token %}
                <span>Selecione uma imagem para perfil</span>
              <input type="file" name="image_perfil" required>
              <button type="submit">Enviar</button>
            </form>
           <p class="message" style="color:white;"><a href="{% url 'main:perfil' %}">Cancelar</a></p>
       </div>
    </div>
     <div id="button-signa" class="modal2" style="display:none;">
       <div class="form">
            <form id="signatu-form" class="login-form acrylic11" enctype="multipart/form-data" method="POST" action="{% url 'main:perfil' %}">
              {% csrf_token %}
                <span>Coloque sua assinatura</span>
              <input type="text" name="signatu" required>
              <button type="submit">Enviar</button>
            </form>
           <p class="message" style="color:white;"><a href="{% url 'main:perfil' %}">Cancelar</a></p>
       </div>
    </div>


    <section class="recent-activity">
        <div>
        <h2>Recent Thread</h2>
            <ul>
                {% for lala in threads %}
                    <li class="elementosss"><a href="{{ lala.url }}" style="color:black;">{{ lala }}</a></li>
                {% empty %}
                    <p>No results found.</p>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h2>Recent Post</h2>
            <ul>
                {% for lala in posts %}
                    <li class="elementosss"><a href="{{ lala.url }}">{{ lala }}</a></li>
                {% empty %}
                    <p>No results found.</p>
                {% endfor %}

            </ul>
        </div>
    </section>
</div>
{% endblock %}

