{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="fooorm">
      <div class="form">
        <form class="login-form acrylic" method="POST" action="{% url 'main:register' %}">
          {% csrf_token %}
          <span>Sign Up</span>
          <input id="username" type="text" placeholder="username" name="username"/>
          <input id="email" type="email" placeholder="Email" name="email"/>
          <input id="password" type="password" placeholder="Password" name="password"/>
          <button type="submit">GO</button>
          <p class="message"><a href="{% url 'main:login' %}">I have Account</a></p>
        </form>
      </div>
</body>
{% endblock %}