{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style_thread.css' %}">
<script src="{% static 'js/marked.min.js' %}"></script>
<script src="{% static 'js/purify.min.js' %}"></script>
<div class="listagem">
  <div id="thread-title-div">
    <h2 id="thread-title">
      {% if thread.is_sticky %}
        <span class="sticky-icon material-symbols-outlined is-sticky-dark">push_pin</span>
      {% endif %}
      {% if thread.is_locked %}
        <span class="locked-icon material-symbols-outlined is-locked-dark">lock</span>
      {% endif %}
      {{ thread.title }}
      {% if user_is_mod %}
        <span class="material-symbols-outlined mod-button mod-button-on-thread" data-thread-id="{{ thread.id }}" data-button-on="thread">shield</span>
      {% endif %}
    </h2>
  </div>
  {% for post in posts %}
    <li class="itens" id="line-{{ post.id }}" style="{% if post.is_removed %} background-color: #C15757;{% endif %}">
      <div id="post-{{ post.id }}" class="post" style="display:flex;" >
        <div class="post-perfil" style="border-right: #cccccc 2px solid"><p> <a style="text-decoration: none" href="{% url 'main:author' post.user.id %}"> {{ post.user.username }}</a> {% if user_is_mod %} <span class="material-symbols-outlined mod-button mod-button-on-user" data-button-on="user" data-post-id="{{ post.id }}" data-user-id="{{ post.user.id }}" data-button-on="post">shield</span>{% endif %}</p> <img class="imga_coments" src="/media/{{ post.user.avatar }}" alt="Profile Picture">
        </div>
        <div class="post-text">
          <div class="meta">
            <span style="color:dimgray">{{ post.date_created|date:"d/m/Y" }}</span>
            {% if user.is_mod or user.id_admin %}
              <span class="material-symbols-outlined post-button mod-button mod-button" data-post-id="{{ post.id }}" data-button-on="post">shield</span>
            {% endif %}
            {% if post.user == user %}
              <span class="post-button delete-button material-symbols-outlined" id="delete-{{ post.id }}">delete</span>
            {% else %}
              <span id="report-{{ post.id }}" class="post-button report-button material-symbols-outlined">flag</span>
            {% endif %}
          </div>
          <div id="post-{{ post.id }}-text" class="message">
            <script>
              document.getElementById("post-{{ post.id }}-text").innerHTML =
                  DOMPurify.sanitize(marked.parse("{{ post.text|escapejs }}"));
            </script>
          </div>
          {% if post.user.signature|length > 0 %}
            <div id="post-{{ post.id }}-signature" class="signature">
              <script>
                document.getElementById("post-{{ post.id }}-signature").innerHTML =
                    DOMPurify.sanitize(marked.parse("{{ post.user.signature|escapejs }}"));
              </script>
            </div>
          {% endif %}
          <div class="emotes-section">
            <span class="button-emotes material-symbols-outlined" ">add_reaction</span>
            <div class="emote-box emote-box-hidden">
              {% for emote, emote_count in post.emotes.items %}
                <span id="{{ emote }}-{{ post.id }}" class="emote" data-post-id="{{ post.id }}" data-emote-count="{{ emote_count }}" data-emote="{{ emote }}">{{ emote }} {{ emote_count }}</span >
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
  {% if user_is_mod %}
    <div class="admin-context-box">
      <span class="material-symbols-outlined admin-context-box-button admin-context-box-button-all" id="admin-context-box-close">close</span>
      <span class="material-symbols-outlined admin-context-box-button admin-context-box-button-post" id="admin-context-box-delete">delete</span>
      <span class="material-symbols-outlined admin-context-box-button admin-context-box-button-thread {% if thread.is_sticky %} is-sticky {% endif %}" id="admin-context-box-sticky" >push_pin</span>
      <span class="material-symbols-outlined admin-context-box-button admin-context-box-button-thread {% if thread.is_locked %} is-locked {% endif %}" id="admin-context-box-lock">lock</span>
      <span class="material-symbols-outlined admin-context-box-button admin-context-box-button-deleted-post" id="admin-context-box-restore">restore_from_trash</span>
      <span class="material-symbols-outlined admin-context-box-button admin-context-box-button-user" id="admin-context-box-ban">block</span>
      <span class="material-symbols-outlined admin-context-box-button admin-context-box-button-user" id="admin-context-box-timeout">timer</span>
      <input class="admin-context-box-input" id="admin-context-box-input-reason" placeholder="Reason">
    </div>
    <script id="mod-actions-script">
      function hideAdminContextBox() {
        $(".admin-context-box").hide()
        $(".admin-context-box").children().hide()
        // make delete button not red so transition between posts dont show it red
        $("#admin-context-box-delete").css("color", "inherit")
        $("#admin-context-box-input-reason").hide().val("")

        $("#admin-context-box-ban").css("color", "inherit")
        $("#admin-context-box-timeout").css("color", "inherit")
      }
      function turnButtonToColor(button, color) {
        button.css("color", color)
        setTimeout(() => {
          button.css("color", "inherit")
        }, 2000)
      }
      $(document).ready(() => {
        hideAdminContextBox()
        $(".mod-button").on("click", (e) => {
          hideAdminContextBox()
          let element = $(e.target)
          let adminContextBox = $(".admin-context-box")
          // get type of button
          let buttonOn = element.data("button-on")
          // show appropriate buttons based on buttonOn (and hide others)
          adminContextBox.find(".admin-context-box-button-all").show()
          adminContextBox.find(".admin-context-box-button-" + buttonOn).show()
          adminContextBox.css("top", e.pageY)
          adminContextBox.css("left", e.pageX)
          adminContextBox.show()

          // set data
          adminContextBox.data("post-id", element.data("post-id"))
          adminContextBox.data("user-id", element.data("user-id"))
        });
        $("#admin-context-box-close").on("click", () => {
          hideAdminContextBox()
        });

        $("#admin-context-box-delete").on("click", (e) => {
          if($(e.target).css("color") != "rgb(255, 0, 0)") {
            turnButtonToColor($(e.target), "red")
            return
          }
          console.log("removing")
          adminContextBox = $(".admin-context-box")
          $.ajax({
            url: "{% url 'main:delete_post' %}",
            type: "POST",
            data: {
              post_id: adminContextBox.data("post-id"),
              csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: (data) => {
              // turn .post of deleted post red
              $("#post-" + adminContextBox.data("post-id")).parent().css("background-color", "#C15757")
            },
            error: (response) => {
              if (response.status == 302 || response.status == 401) {
                window.location.href = "{% url 'main:login' %}"
              } else {
                alert("Error;"+ response.error + " contact admin")
                console.log(response.status)
                console.log(response.error_object)
              }
            }
          });
        });

        $("#admin-context-box-sticky").on("click", (e) => {
          $.ajax({
            url: "{% url 'main:sticky' %}",
            type: "POST",
            data: {
              thread_id: {{ thread.id }},
              removing: {% if thread.is_sticky %} 1 {% else %} 0 {% endif %},
              csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: (data) => {
              window.location.reload()
            },
            error: (response) => {
              if (response.status == 302 || response.status == 401) {
                window.location.href = "{% url 'main:login' %}"
              } else {
                alert("Error;"+ response.error + " contact admin")
                console.log(response.status)
                console.log(response.error_object)
              }
            }
          });
        });
        $("#admin-context-box-lock").on("click", (e) => {
          $.ajax({
            url: "{% url 'main:lock' %}",
            type: "POST",
            data: {
              thread_id: {{ thread.id }},
              removing: {% if thread.is_locked %} 1 {% else %} 0 {% endif %},
              csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: (data) => {
              window.location.reload()
            },
            error: (response) => {
              if (response.status == 302 || response.status == 401) {
                window.location.href = "{% url 'main:login' %}"
              } else {
                alert("Error;"+ response.error + " contact admin")
                console.log(response.status)
                console.log(response.error_object)
              }
            }
          });
        });

        $("#admin-context-box-ban").on("click", (e) => {
          if ($(e.target).css("color") != "rgb(255, 0, 0)") {
            $(e.target).css("color", "red")
            $("#admin-context-box-input-reason").show()
            return
          } else {
            if($("#admin-context-box-input-reason").val().length == 0) {
              alert("Please enter a reason")
              return
            }
          }
          $.ajax({
            url: "{% url 'main:ban' %}",
            type: "POST",
            data: {
              user_id: $(".admin-context-box").data("user-id"),
              reason: $("#admin-context-box-input-reason").val(),
              csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: (data) => {
              alert(data.message);
            },
            error: (response) => {
              if (response.status == 302 || response.status == 401) {
                window.location.href = "{% url 'main:login' %}"
              } else {
                alert("Error;"+ response.error + " contact admin")
                console.log(response.status)
                console.log(response.error_object)
              }
            }
          });
        });
        $("#admin-context-box-timeout").on("click", (e) => {
          if ($(e.target).css("color") != "rgb(255, 0, 0)") {
            $(e.target).css("color", "red")
            $("#admin-context-box-input-reason").show()
            return
          } else {
            if($("#admin-context-box-input-reason").val().length == 0) {
              alert("Please enter a reason")
              return
            }
          }
          $.ajax({
            url: "{% url 'main:timeout' %}",
            type: "POST",
            data: {
              user_id: $(".admin-context-box").data("user-id"),
              reason: $("#admin-context-box-input-reason").val(),
              csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: (data) => {
              alert(data.message);
            },
            error: (response) => {
              if (response.status == 302 || response.status == 401) {
                window.location.href = "{% url 'main:login' %}"
              } else {
                alert("Error;"+ response.error + " contact admin")
                console.log(response.status)
                console.log(response.error_object)
              }
            }
          });
        });
      });
    </script>
  {% endif %}
  <script id="emotes-user-script">
      $(document).ready(() => {
      {% for post_id, emojis in emotes_user.items %}
        {% for emoji in emojis %}
          $("#{{ emoji }}-{{ post_id }}").addClass("selected")
        {% endfor %}
      {% endfor %}
    })
  </script>
  <script id="emotes-script">
    function toggleEmotes(emotesSection) {
      let element = $(emotesSection)
      if (element.hasClass("emote-box-hidden")) {
        showEmotes(emotesSection)
      } else {
        hideEmotes(emotesSection)
      }
    }
    function showEmotes(emotesSection) {
      let element = $(emotesSection)
      element.find(".emote").each((i, e) => {
        $(e).show()
      })
      element.removeClass("emote-box-hidden")
    }
    function hideEmotes(emotesSection) {
      let element = $(emotesSection)
      element.find(".emote").each((i, e) => {
        if ($(e).data("emote-count") == 0) {
          $(e).hide()
        }
      })
      element.addClass("emote-box-hidden")
    }
    $(document).ready(() => {
      $(".emotes-section").each((i, e) => {
        hideEmotes($(e))
      })
      $(".emote").on("click", (e) => {
        let element = $(e.target)
        element.toggleClass("selected")
        $.ajax({
          url: "{% url 'main:emote' %}",
          type: "POST",
          data: {
            post_id: element.data("post-id"),
            emote: element.data("emote"),
            removing: !element.hasClass("selected") | 0,
            csrfmiddlewaretoken: "{{ csrf_token }}"
          },
          success: (data) => {
            // increment
            if (element.hasClass("selected")) {
              element.data("emote-count", parseInt($(e.target).data("emote-count")) + 1)
            } else {
              element.data("emote-count", parseInt($(e.target).data("emote-count")) - 1)
            }
            element.text(element.data("emote") + " " + element.data("emote-count"))
            hideEmotes(element.parent().parent())
          },
          error: (response) => {
            if (response.status == 302 || response.status == 401) {
              window.location.href = "{% url 'main:login' %}"
            } else {
              alert("Error;"+ response.error + " contact admin")
              console.log(response)
            }
          }
        });
      })
      $(".button-emotes").on("click", (e) => {
        let emotesSection = $(e.target).parent()
        toggleEmotes(emotesSection)
      })
    })
  </script>
  <div id="page-mask" style=""></div>
  <div id="report-popup" style="display: none;">
    <!-- Submit Report -->
    <input type="hidden" id="post-id" value="">
    <input type="hidden" id="thread-id" value="{{ thread.id }}">
    <div id="report-form">
      <h2 id="report-form-title">Report Post</h2>
      <div id="report-form-content">
        <label for="report-reason">Reason</label>
        <textarea required name="report_description" id="report-description" cols="80" rows="9"></textarea>
        <button id="submit-report" type="submit">Submit</button>
        <button id="cancel-report">Cancel</button>
      </div>
    </div>
  </div>
  <script id="report-script">
    // js has to be here because of url tag
    function showReportPopup() {
      $("#page-mask").fadeIn();
      $("#report-popup").fadeIn();
    }
    function hideReportPopup() {
      $("#page-mask").fadeOut();
      $("#report-popup").fadeOut();
    }
    $(document).ready(()=> {
      $(".report-button").on("click",  (e) => {
        showReportPopup();
        $("#post-id").val(e.target.id.split("-")[1]);
      });
      $("#cancel-report").on("click", () => {
        hideReportPopup()
      });
      $("#submit-report").on("click", () => {
        $.ajax({
          url: "{% url 'main:report' %}",
          type: "POST",
          data: {
            post_id: $("#post-id").val(),
            thread_id: $("#thread-id").val(),
            report_description: $("#report-description").val(),
            csrfmiddlewaretoken: "{{ csrf_token }}"
          },
          success: (data) => {
            alert(data.message);
            hideReportPopup();
          },
          error: (response) => {
            if (response.status == 302 || response.status == 401) {
              window.location.href = "{% url 'main:login' %}"
            } else {
              alert("Error;"+ response.error + " contact admin")
              console.log(response.status)
              console.log(response.error_object)
            }
          }
        });
      });
    })
    $(document).ready(() => {
      $(".delete-button").on("click", (e) => {
        conf = confirm("Are you sure you want to delete this post?");
        if (!conf) return;
        $.ajax({
          url: "{% url 'main:delete_post' %}",
          type: "POST",
          data: {
            post_id: e.target.id.split("-")[1],
            thread_id: $("#thread-id").val(),
            csrfmiddlewaretoken: "{{ csrf_token }}"
          },
          success: (data) => {
            $("#line-"+e.target.id.split("-")[1]).remove()
          },
          error: (response) => {
            if (response.status == 302 || response.status == 401) {
              window.location.href = "{% url 'main:login' %}"
            } else {
              alert("Error;"+ response.error + " contact admin")
              console.log(response.status)
              console.log(response.error_object)
            }
          }
        });
      });
    });
  </script>

  {% if request.user.is_authenticated and not thread.is_locked %}
    <div id="postagem">
        <form action="{% url 'main:thread' topico_name thread.id %}" method="POST">
            {% csrf_token %}
            {# place to style post #}
            <div id="postagem-format">
              <span id="format-italic" class="material-symbols-outlined">format_italic</span>
              <span id="format-bold" class="material-symbols-outlined">format_bold</span>
              <span id="format-link" class="material-symbols-outlined">link</span>
              <span id="format-strikethrough" class="material-symbols-outlined">format_strikethrough</span>
              <span id="format-code" class="material-symbols-outlined">code</span>
              <span id="format-quote" class="material-symbols-outlined">format_quote</span>
              <span id="format-list" class="material-symbols-outlined">format_list_bulleted</span>
              {# <span id="format-spoiler" class="material-symbols-outlined">rainy_heavy</span> #}
              <span id="format-image" class="material-symbols-outlined">image</span>
            </div>
            <textarea id="post-text" cols="90" rows="3" placeholder="TEXTO" name="textt"></textarea><br>
            <button type="submit">Postar</button>
        </form>
        <script src="{% static 'js/jquery.selection.js' %}"></script>
        <script>
          function insertAtCursor(idClicked, before, after) {
            $(idClicked).on("click", (e) => {
              let post = $("#post-text")
              if (post.selection().length > 0) {
                post.selection("replace", {text: before + post.selection() + after})
              } else {
                post.selection("insert", {text: before + after})
                // move caret to middle
                let pos = post.selection("getPos");
                post.selection("setPos", {start: pos.start + before.length, end: pos.start + before.length});
              }
            });
          }
          $(document).ready(() => {
            insertAtCursor("#format-italic", "*", "*");
            insertAtCursor("#format-bold", "**", "**");
            insertAtCursor("#format-link", "[", "](url)");
            insertAtCursor("#format-strikethrough", "~~", "~~");
            insertAtCursor("#format-superscript", "^", "^");
            insertAtCursor("#format-code", "`", "`");
            insertAtCursor("#format-quote", "\n> ", "");
            insertAtCursor("#format-list", "\n* ", "");
            insertAtCursor("#format-spoiler", "||", "||");
            insertAtCursor("#format-image", "\n![alt](", ")");
          });
        </script>
    </div>
  {% else %}
  {% endif %}
</div>
{% endblock content %}
