{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style_thread.css' %}">
<div class="listagem acrylic">
  <div style="display:flex;justify-content: space-between;">
    <div>
      <h2 style="font-size:40px;">{{ thread.title }}</h2>
    </div>
    {% if request.user.is_authenticated %}
      <div style="display:flex;">
      </div>
    {% else %}
    {% endif %}
   </div>
  {% for post in posts %}
    <li class="itens">
      <div class="post">
        <div class="post-perfil" style="border-right: #cccccc 2px solid"><p>{{ post.user.username }}</p> TODO avatar
        </div>
        <div class="post-text">
          <div class="meta">
            <span style="color:dimgray">{{ post.date_created }}</span>
            {% if post.user == user %}
              <span class="delete-button material-symbols-outlined" id="delete-{{ post.id }}">delete</span>
            {% else %}
              <span id="report-{{ post.id }}" class="report-button material-symbols-outlined">flag</span>
            {% endif %}
          </div> <!-- TODO aqui caixas de cada post seria melhor imo -->
          <div class="message">
            {{ post.text }}
          </div>
          <div class="emotes-section">
            <span class="button-emotes material-symbols-outlined">add_reaction</span>
            <!-- open box on hover -->
            <div class="emote-box emote-box-hidden">
              {% for emote, emote_count in post.emotes.items %}
                  <span class="emote" data-post-id="{{ post.id }}" data-emote-count="{{ emote_count }}" data-emote="{{ emote }}">{{ emote }} {{ emote_count }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
  <script>
    function showEmotes(emotesSection) {
      let element = $(emotesSection)
      element.find(".emote").each((i, e) => {
        $(e).show()
      })
      element.removeClass("emote-box-hidden")
    }
    function hideEmotes(emotesSection) {
      let element = $(emotesSection)
      element.find(".emote").each((i, e) => {
        console.log($(e).attr("data-emote-count"))
        if ($(e).attr("data-emote-count") == 0) {
          $(e).hide()
        }
      })
      element.addClass("emote-box-hidden")
    }
    $(document).ready(() => {
      $(".emotes-section").each((i, e) => {
        hideEmotes($(e))
      })
      $(".emote").on("click", (e) => {
        let element_here = $(e.target)
        element_here.toggleClass("selected", !element_here.hasClass("selected"))
        $.ajax({
          url: "{% url 'main:emote' %}",
          type: "POST",
          data: {
            post_id: element_here.attr("data-post-id"),
            emote: element_here.attr("data-emote"),
            removing: element_here.hasClass("selected"),
            csrfmiddlewaretoken: "{{ csrf_token }}"
          },
          success: (data) => {
            let element = $(e.target)
            // increment
            if (element.hasClass("selected")) {
              element.attr("data-emote-count", parseInt($(e.target).attr("data-emote-count")) + 1)
            } else {
              element.attr("data-emote-count", parseInt($(e.target).attr("data-emote-count")) - 1)
            }
            element.text(element.attr("data-emote") + " " + element.attr("data-emote-count"))
          },
          error: (response) => {
            if (response.status == 302 || response.status == 401) {
              window.location.href = "{% url 'main:login' %}"
            } else {
              alert("Error;"+ response.error + " contact admin")
              console.log(response)
            }
          }
        });
      })
      $(".button-emotes").on("click", (e) => {
        let emotesSection = $(e.target).parent()
        if(emotesSection.hasClass("emote-box-hidden")) {
          showEmotes(emotesSection)
        }else {
          hideEmotes(emotesSection)
        }
      })
    })
  </script>
  <div id="page-mask" style=""></div>
  <div id="report-popup" style="display: none;">
    <!-- Submit Report -->
    <input type="hidden" id="post-id" value="">
    <input type="hidden" id="thread-id" value="{{ thread.id }}">
    <div id="report-form">
      <h2 id="report-form-title">Report Post</h2>
      <div id="report-form-content">
        <label for="report-reason">Reason</label>
        <textarea required name="report_description" id="report-description" cols="80" rows="9"></textarea>
        <button id="submit-report" type="submit">Submit</button>
        <button id="cancel-report">Cancel</button>
      </div>
    </div>
  </div>
  <script>
    // js has to be here because of url tag
    function showReportPopup() {
      $("#page-mask").fadeIn();
      $("#report-popup").fadeIn();
    }
    function hideReportPopup() {
      $("#page-mask").fadeOut();
      $("#report-popup").fadeOut();
    }
    $(document).ready(()=> {
      $(".report-button").on("click",  (e) => {
        showReportPopup();
        $("#post-id").val(e.target.id.split("-")[1]);
      });
      $("#cancel-report").on("click", () => {
        hideReportPopup()
      });
      $("#submit-report").on("click", () => {
        $.ajax({
          url: "{% url 'main:report' %}",
          type: "POST",
          data: {
            post_id: $("#post-id").val(),
            thread_id: $("#thread-id").val(),
            report_description: $("#report-description").val(),
            csrfmiddlewaretoken: "{{ csrf_token }}"
          },
          success: (data) => {
            alert(data.message);
            hideReportPopup();
          },
          error: (response) => {
            if (response.status == 302 || response.status == 401) {
              window.location.href = "{% url 'main:login' %}"
            } else {
              alert("Error;"+ response.error + " contact admin")
              console.log(response.status)
              console.log(response.error_object)
            }
          }
        });
      });
    })
    // now delete
    $(document).ready(() => {
      $(".delete-button").on("click", (e) => {
        conf = confirm("Are you sure you want to delete this post?");
        if (!conf) return;
        $.ajax({
          url: "{% url 'main:delete_post' %}",
          type: "POST",
          data: {
            post_id: e.target.id.split("-")[1],
            thread_id: $("#thread-id").val(),
            csrfmiddlewaretoken: "{{ csrf_token }}"
          },
          success: (data) => {
            alert(data.message);
            // Hide the post
            let vvv = $(e.target).parentsUntil(".itens").hide()
            let vvvv = $(e.target).parentsUntil(".itens").remove();
            $(e.target).parentsUntil(".itens").removeClass("itens").remove();
            // TODO test
          },
          error: (response) => {
            if (response.status == 302 || response.status == 401) {
              window.location.href = "{% url 'main:login' %}"
            } else {
              alert("Error;"+ response.error + " contact admin")
              console.log(response.status)
              console.log(response.error_object)
            }
          }
        });
      });
    });
  </script>
  {% if request.user.is_authenticated %}
    <div id="postagem">
        <form action="{% url 'main:thread' topico_name thread.id %}" class="" method="POST">
            {% csrf_token %}
            <input style="widht:100%;" type="text" placeholder="TEXTO" name="textt"/>
            <button type="submit">Postar</button>
        </form>
    </div>
  {% else %}
  {% endif %}
</div>
{% endblock content %}