{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="listagem">
  <div style="display:flex;justify-content: space-between;">
    <div>
      <h2 style="font-size:40px;">{{ topico }}</h2>
    </div>
    <div class="button">
      <a href="{% url 'main:create_thread' %}">Comentar</a>
      <a href="{% url 'main:login' %}">Apagar</a>
    </div>

   </div>
  {% for thread in threads %}
  <div>
    <li class="itens">
      <div class="icon">{{ thread.is_sticky }}</div>
      <div class="content">
        <h3> <a class="" style="text-decoration: none" href="{% url 'main:thread' topico thread.id %}">{{ thread.title }}</a></h3>
      </div>
      <div class="stats">{{ thread.user.username }}</div>
      <div class="last">{{ thread.date_created }}</div>
    </li>
   </div>
  {% endfor %}
</div>
{% endblock content %}