{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="listagem">
  <div style="display:flex;justify-content: space-between;">
    <div>
      <h1 style="font-size:40px;">{{ topico }}</h1>
    </div>
    {% if request.user.is_authenticated %}
      <div style="display:flex;">
        <div class="button">
          <a href="{% url 'main:create_thread' topico %}">New Thread</a>
        </div>
      </div>
    {% else %}
    {% endif %}

   </div>
  {% for thread in threads %}
  <div>
    <li class="itens">
      <div class="icon" style="width: 20px">{% if thread.is_sticky %}<span class="material-symbols-outlined">push_pin</span>{% endif %}</div>
      <div class="content">
        <h3> <a class="" style="text-decoration: none" href="{% url 'main:thread' topico thread.id %}">{{ thread.title }}</a></h3>

      </div>
      <div class="stats">{{ thread.user.username }}</div>
      <div class="last">{{ thread.date_created }}</div>

    </li>
   </div>
  {% endfor %}
  <script>
   $(document).ready(() => {
      $(".delete-button").on("click", (e) => {
        conf = confirm("Are you sure you want to delete this post?");
        if (!conf) return;
        $.ajax({
          url: "{% url 'main:delete_post' %}",
          type: "POST",
          data: {
            post_id: e.target.id.split("-")[1],
            thread_id: $("#thread-id").val(),
            csrfmiddlewaretoken: "{{ csrf_token }}"
          },
          success: (data) => {
            $("#line-"+e.target.id.split("-")[1]).remove()
            alert(data.message);
          },
          error: (response) => {
            if (response.status == 302 || response.status == 401) {
              window.location.href = "{% url 'main:login' %}"
            } else {
              alert("Error;"+ response.error + " contact admin")
              console.log(response.status)
              console.log(response.error_object)
            }
          }
        });
      });
    });
  </script>


</div>
{% endblock content %}