{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="listagem">
  <h2>Resultado da Pesquisa</h2>
  <form method="get" action=".">
    {% if query %}
      {# The div above but without regroup #}
      <section class="recent-activity">
        <div>
          <h2>Threads</h2>
          <ul class="results-ul">
            {% for result in page.object_list %}
              {% if result.model_name == 'thread' %}
                <li class="elementosss"><a href="{{ result.object.url }}" style="color:black;">{{ result.object.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div>
          <h2>Posts</h2>
          <ul class="results-ul">
            {% for result in page.object_list %}
              {% if result.model_name == 'post' %}
                <li class="elementosss"><a href="{{ result.object.url }}" style="color:black;">{{ result.object.text }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div>
          <h2>Users</h2>
          <ul class="results-ul">
            {% for result in page.object_list %}
              {% if result.model_name == 'user' %}
                <li class="elementosss"><a href="{% url 'main:author' result.object.id %}" style="color:black;">{{ result.object.username }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </section>
    {% else %}
    {% endif %}
    <script>
      $(document).ready(() => {
        $('.results-ul').each(function() {
          if ($(this).children().length == 0) {
            // delete ul and substitute with a message
            $(this).parent().remove()
          }
        })
        if ($('.recent-activity').children().length == 0) {
          $('.recent-activity').append('<p class="no-results">No results found.</p>')
        }

      })
    </script>
  </form>
</div>
{% endblock %}