{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="listagem">
  <h2>Resultado da Pesquisa</h2>

  <form method="get" action=".">
    {% if query %}

    <section class="recent-activity">
        <div>
        <h2>Thread</h2>
            <ul>
                {% for result1 in page.object_list %}
                    <li class="elementosss"><a href="{{ result1.url }}" style="color:black;">{{ result1 }}</a></li>
                {% empty %}
                    <p>No results found.</p>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h2>Post</h2>
            <ul>
                {% for result2 in page.object_list %}
                    <li class="elementosss"><a href="{{ result.object.url }}" style="color:black;">{{ result2.topico_name }}</a></li>
                {% empty %}
                    <p>No results found.</p>
                {% endfor %}

            </ul>
        </div>
        <div>
            <h2>Author</h2>
            <ul>
                {% for result3 in page.object_list %}
                    <li class="elementosss"><a href="{{ result.object.url }}" style="color:black;">{{ result3.username }}</a></li>
                {% empty %}
                    <p>No results found.</p>
                {% endfor %}

            </ul>
        </div>
    </section>
      {% if page.has_previous or page.has_next %}
        <div>
          {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
          |
          {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
      {% endif %}
    {% else %}
      {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
  </form>
</div>
{% endblock %}